* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  border: 10px solid black;
  background-color: coral;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.list {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.days-month {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
} 

.days-month li {
  width: calc(100%/7);
  height: 100px;
  background-color:  #ffffff;
  color: black;
  padding: 5px;
  border: 1px solid #cccccc;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.days-month li.holidays {
  color: red;
}

#title {
  text-align: center;
}

#title h3 {
  margin: 40px 0;
  color: red;
  font-size: 30px;
  text-transform: capitalize;
  text-shadow: 
  -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.hidden {
  display: none;
}

#title h1 {
  font-size: 55px;
  font-weight: 600;
  text-shadow: 
  -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

#title h1>i {
  margin: 0 30px;
  padding: 0 10px;
  cursor: pointer;
  color:  limegreen;
  text-shadow: 
  -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

#month-selected {
  margin: 30px 0;
  text-align: center;
  font-size: 35px;
  color: limegreen;
  text-shadow: 
  -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
